@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin:0;
    padding:0;
}

html {
    overflow:hidden;
}

body {
background:#111;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

h1 {
    text-align:center;
    font-family:lato;
    text-shadow: 0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue
    ;
}

.snieg {
    width:10px;
    height:10px;
    background:#eee;
    border-radius:50%;
    filter:blur(2px);
    position:absolute;
    transform:rotate(calc(90deg*var(--i)));
    animation: migotanie 2s ease-in-out infinite calc(2s*var(--i));
    box-shadow: 100px 310px 1px #eee,
    330px 250px 1px #eee,
    270px 620px 1px #eee,
    300px 10px 1px #eee,
    530px 50px 1px #eee,
    270px 620px 1px #eee,
    230px 130px 1px #eee,
    190px 120px 1px #eee,
    480px 190px 1px #eee,
    510px 320px 1px #eee,
    90px 100px 1px #eee,
    300px 310px 1px #eee,
    330px 250px 1px #eee,
    770px 420px 1px #eee,
    900px 170px 1px #eee,
    730px 50px 1px #eee,
    670px 220px 1px #eee,
    630px 30px 1px #eee,
    190px 120px 1px #eee,
    30px 370px 1px #eee,
    10px 200px 1px #eee,
    390px 260px 1px #eee,
    10vw 10vh 1px #eee,
    20vw 20vh 1px #eee,
    30vw 30vh 1px #eee,
    40vw 40vh 1px #eee,
    50vw 50vh 1px #eee,
    60vw 60vh 1px #eee,
    70vw 70vh 1px #eee,
    80vw 80vh 1px #eee,
    90vw 90vh 1px #eee,
    100vw 100vh 1px #eee,
    10vw 90vh 1px #eee,
    20vw 80vh 1px #eee,
    30vw 70vh 1px #eee,
    40vw 60vh 1px #eee,
    50vw 50vh 1px #eee,
    60vw 40vh 1px #eee,
    80vw 30vh 1px #eee,
    90vw 20vh 1px #eee,
    100vw 10vh 1px #eee
    ;
}

@keyframes migotanie{
    0% {
        /* filter:blur(2px); */
        box-shadow: 100px 310px 1px #eee,
        330px 250px 1px #eee,
        270px 620px 1px #eee,
        300px 10px 1px #eee,
        530px 50px 1px #eee,
        270px 620px 1px #eee,
        230px 130px 1px #eee,
        190px 120px 1px #eee,
        480px 190px 1px #eee,
        510px 320px 1px #eee,
        90px 100px 1px #eee,
        300px 310px 1px #eee,
        330px 250px 1px #eee,
        770px 420px 1px #eee,
        900px 170px 1px #eee,
        730px 50px 1px #eee,
        670px 220px 1px #eee,
        630px 30px 1px #eee,
        190px 120px 1px #eee,
        30px 370px 1px #eee,
        10px 200px 1px #eee,
        390px 260px 1px #eee,
        10vw 10vh 1px #eee,
        20vw 20vh 1px #eee,
        30vw 30vh 1px #eee,
        40vw 40vh 1px #eee,
        50vw 50vh 1px #eee,
        60vw 60vh 1px #eee,
        70vw 70vh 1px #eee,
        80vw 80vh 1px #eee,
        90vw 90vh 1px #eee,
        100vw 100vh 1px #eee,
        10vw 90vh 1px #eee,
        20vw 80vh 1px #eee,
        30vw 70vh 1px #eee,
        40vw 60vh 1px #eee,
        50vw 50vh 1px #eee,
        60vw 40vh 1px #eee,
        80vw 30vh 1px #eee,
        90vw 20vh 1px #eee,
        100vw 10vh 1px #eee
        ;
    }
    50% {
        /* filter:blur(5px); */
        box-shadow: 110px 300px 5px #eee,
        320px 260px 3px #eee,
        250px 630px 4px #aaf,
        310px 20px 5px #eee,
        520px 40px 5px #eee,
        280px 630px 3px #aaf,
        220px 120px 4px #eee,
        200px 130px 5px #eee,
        470px 200px 4px #aaf,
        520px 330px 3px #eee,
        110px 90px 5px #eee,
        310px 300px 3px #aaf,
        320px 260px 4px #eee,
        760px 430px 5px #aaf,
        910px 160px 4px #eee,
        740px 60px 4px #aaf,
        680px 210px 4px #eee,
        620px 40px 3px #eee,
        200px 110px 4px #eee,
        40px 360px 5px #eee,
        0px 210px 5px #eee,
        380px 270px 5px #aaf,
        12vw 8vh 4px #eee,
        22vw 22vh 3px #eee,
        28vw 28vh 4px #eee,
        42vw 41vh 5px #aaf,
        51vw 48vh 4px #eee,
        61vw 62vh 5px #aaf,
        68vw 68vh 5px #eee,
        80vw 80vh 4px #eee,
        90vw 90vh 4px #aaf,
        100vw 100vh 3px #eee,
        10vw 90vh 5px #eee,
        20vw 80vh 5px #eee,
        30vw 70vh 5px #eee,
        40vw 60vh 5px #aaf,
        50vw 50vh 4px #eee,
        60vw 40vh 5px #eee,
        80vw 30vh 3px #eee,
        90vw 20vh 4px #aaf,
        100vw 10vh 3px #eee
        ;
    }
    100% {
        /* filter:blur(2px); */
        box-shadow: 100px 310px 1px #eee,
        330px 250px 1px #eee,
        270px 620px 1px #eee,
        300px 10px 1px #eee,
        530px 50px 1px #eee,
        270px 620px 1px #eee,
        230px 130px 1px #eee,
        190px 120px 1px #eee,
        480px 190px 1px #eee,
        510px 320px 1px #eee,
        90px 100px 1px #eee,
        300px 310px 1px #eee,
        330px 250px 1px #eee,
        770px 420px 1px #eee,
        900px 170px 1px #eee,
        730px 50px 1px #eee,
        670px 220px 1px #eee,
        630px 30px 1px #eee,
        190px 120px 1px #eee,
        30px 370px 1px #eee,
        10px 200px 1px #eee,
        390px 260px 1px #eee,
        10vw 10vh 1px #eee,
        20vw 20vh 1px #eee,
        30vw 30vh 1px #eee,
        40vw 40vh 1px #eee,
        50vw 50vh 1px #eee,
        60vw 60vh 1px #eee,
        70vw 70vh 1px #eee,
        80vw 80vh 1px #eee,
        90vw 90vh 1px #eee,
        100vw 100vh 1px #eee,
        10vw 90vh 1px #eee,
        20vw 80vh 1px #eee,
        30vw 70vh 1px #eee,
        40vw 60vh 1px #eee,
        50vw 50vh 1px #eee,
        60vw 40vh 1px #eee,
        80vw 30vh 1px #eee,
        90vw 20vh 1px #eee,
        100vw 10vh 1px #eee
        ;
    }
}

.grupa0,.grupa1,.grupa2,.grupa3,.grupa4 {
    position:absolute;
}

.grupa2 {
    margin-left:-70vw;
    margin-top:-70vh;
}

.grupa2 {
    margin-left:70vw;
    margin-top:-70vh;
}
.grupa3 {
    margin-left:-70vw;
    margin-top:70vh;
}
.grupa4 {
    margin-left:70vw;
    margin-top:70vh;
}

.snieg1,.snieg2 {
    position:absolute;
}

.snieg2 {
    margin-left:1600px;
    margin-top:-1600px;
}

.caly_snieg {
    position:absolute;
    animation:snieg 10s infinite linear;
}

@keyframes snieg {
    0% {
        margin-left:0px;
        margin-top:0px;
    }
    100% {
        margin-left:-3200px;
        margin-top:3200px;
    }
}

@media only screen and (min-width:700px) {
    .snieg2 {
        margin-left:3000px;
        margin-top:-3000px;
    }
    
    @keyframes snieg {
        0% {
            margin-left:0vw;
            margin-top:0vh;
        }
        100% {
            margin-left:-6000px;
            margin-top:6000px;
        }
    }
}
